@inject Services.AccountService accountService

<EditForm Model="@Model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="row">

        <div class="col-lg-6 col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        @Resources.DataDictionary.OldPassword
                    </span>
                </div>
                <InputText type="password" class="form-control" @bind-Value="Model.Password" />
            </div>
            <ValidationMessage For="() => Model.Password" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        @Resources.DataDictionary.NewPassword
                    </span>
                </div>
                <InputText type="password" class="form-control" @bind-Value="Model.NewPassword" />
            </div>
            <ValidationMessage For="() => Model.NewPassword" />
        </div>

        <div class="col-lg-6 col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        @Resources.DataDictionary.ConfirmPassword
                    </span>
                </div>
                <InputText type="password" class="form-control" @bind-Value="Model.ConfirmPassword" />
            </div>
            <ValidationMessage For="() => Model.ConfirmPassword" />
        </div>
    </div>

    <div class="row">
        <div class="offset-lg-6 col-lg-6 col-12 text-right">
            <ButtonLoading Title="@Resources.DataDictionary.Change"
                           ButtonType="submit"
                           DisableButtonType="button"
                           Class="btn btn-sm btn-warning px-3"
                           Loading="accountService.postLoading" />
        </div>
    </div>

</EditForm>


@code
{
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    public ViewModels.Account.ChangePasswordViewModel Model { get; set; }

    private void HandleValidSubmit()
    {
        OnValidSubmit.InvokeAsync(null);
    }
}

